<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
     <%= link_to 'About', about_path %>
  	<h1>hello world, my name is eljefe</h1>
  	<h2>if you are reading this you are witnessing a great beginning</h2>
  	<h3>my story shall start</h3>
  	<h4>by explaining...</h4>
    <%= image_tag 'supernovasheep.jpg' %>
    <p>Anyways, this all started when i realized talent is bullshit. skill is cultivated. hacking skill is hacking passion. dont do what you love. do something well enough to love what you do. #dontsettle</p>
    <p>My close friend and mentor, Alexander The Wandering Mander, is a</p>
    
	<ul> 
  	<li>technologists</li>
  	<li>thinkers</li>
  	<li>builders</li>
	</ul>

	<p>He has inspired me to code when we traveled to Japan. Now, I have many projects in mind. One of them is working together to make the world a better place by</p>

	<ol>
	<li>promoting humanism</li>
	<li>making Earth green and healthy again</li>
	<li>planning ahead for the future's generation</li>

	<p>We are going to Burning Man this year. I am so excited.</p></ol>
	
  </body>
</html>