<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <div class="center jumbotron">
  	  <h1>Genjutsu Bootcamp</h1>
      <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
    </div>
  	<h2>Hello, World</h2>
  	<h3>my story shall start by explaining...</h3>
    <%= image_tag 'supernovasheep.jpg' %>
    <p>Anyways, this all started when I realized talent is bullshit. skill is cultivated. <mark>hacking skill is hacking passion.</mark> dont do what you love. do something well enough to love what you do.</p>
    <p>The creation of this blog is a tribute to my close friend and mentor, <code>The Wandering Mander.</code></p>

	  <p>He has inspired me to code when we traveled in Japan. Now, I have many <kbd>projects in mind;</kbd> this is one of many.</p>
  </body>
</html>